 body {
    height: 100vh;
    background: linear-gradient(to bottom right, #237819, #13330c);
    margin: 0;
}

#bg-img {
    height: 70px;
    /*background-color: rgba(31, 41, 7, .6);*/
    background-image: linear-gradient(
        to bottom right,
        rgb(255 255 255 / 10%),
        rgb(0 0 0 / 70%)
    ),url("images/bkg.jpg");
    /*background-image: url("images/bkg.jpg");*/
    box-shadow: 0px 5px 30px black;
    border-bottom: 1px solid black;

    /*border-image: linear-gradient(to bottom right, #237819, #13330c);
    border-image-slice: 1;*/
}


nav .score {
    margin-left: 150px;
    width: 200px;
    color: #B39584;
    font-size: 20px;
    background-color: #59884E0f;
    border-radius: 15px;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 60vw;
}

button {
    border-radius: 8px;
    font-size: 17px;
    background-color: #59884E0f;
   /* background: linear-gradient(to bottom right, #b11313a1, #331A0C);*/
    color: #B39584;
}

button:hover {
    text-shadow:
    0 0 0 white,
    0 0 1em white;
}

#buttons {
    /*display: flex;*/
    justify-content: center;
    position: absolute;
    top: 24px;
    left: 41px;
}

#buttons button {
    margin-right: 7px;
}


#numb {
    color: #B39584;
    margin-left: 20px;
}

.field {
    height: 300px;
    /*top: 35vh;
    left: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img {
    width: 12vw;
    margin: 0.3vw;
}