 body {
    background-color: #237819;
    margin: 0;
}

nav {
    height: 70px;
    background-color: #091c03;
}

nav .score {
    display: inline-block;
    margin-left: 150px;
    color: white;
    font-size: 20px
}

.field {
    height: 300px;
}


img {
    width: 200px;
}