 body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #237819, #13330c);
    margin: 0;
}

#bg-img {
    height: 70px;
    /*background-color: rgba(31, 41, 7, .6);*/
    background-image: linear-gradient(
        to bottom right,
        rgb(255 255 255 / 10%),
        rgb(0 0 0 / 70%)
    ),url("images/bkg.jpg");
    /*background-image: url("images/bkg.jpg");*/
    box-shadow: 0px 5px 30px black;
    border-bottom: 1px solid black;

    /*border-image: linear-gradient(to bottom right, #237819, #13330c);
    border-image-slice: 1;*/
}

nav {
    height: 70px;
}

nav .score {
    margin-left: 150px;
    width: 200px;
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .20);
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    position: absolute;
    top: 4px;
    left: 1032px;


}

button {
    border-radius: 20px;
    font-size: 17px;
    background-color: #b11313a1;
    color: white;
}

#start-button, #reset {
    color:

}


#numb {
    color: red;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, .20);
}

.field {
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0px, 0%)

  width: 80%;

}


img {
    width: 200px;
}